<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css"
          integrity="sha512-UrjLcAek5jbj1vwGbXkviPHtgSNVNQCedX7cBIMDdSI2iZtUcZcoTh2Sqc8R9mVcijOjFUi1IlxhfrE1uWaIog=="
          crossorigin="anonymous"/>

    <title>
        {{block "title" .}}

        {{end}}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>


            </ul>

            {{if eq .IsAuthenticated 1}}

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li id="login-link" class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            {{else}}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li id="login-link" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>

            {{end}}
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <div class="alert alert-danger text-center d-none" id="login-messages"></div>

                    <form method="post" action="/login"
                          name="login_form" id="login_form"
                          class="d-block needs-validation charge-form"
                          autocomplete="off" novalidate="">

                        <h2 class="mt-2 text-center mb-3">Login</h2>
                        <hr>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   required="" autocomplete="email-new">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   required="" autocomplete="password-new">
                        </div>

                        <hr>

                        <a href="javascript:void(0)" class="btn btn-primary" onclick="val()">Login</a>
                        <a href="/user" class="btn btn-primary float-end" onclick="">Create User</a>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js"
        integrity="sha512-NHRCwRf2LnVSlLDejCA9oS3fG3/FLSQIPCjAWl3M7tVi5wszwr6FxkjotWnQDXLE+aLKcxRrzFDNEgXj9nvkPw=="
        crossorigin="anonymous"></script>

<script>
    let loginMessages = document.getElementById("login-messages");

    function showError(msg) {
        loginMessages.classList.add("alert-danger");
        loginMessages.classList.remove("alert-success");
        loginMessages.classList.remove("d-none");
        loginMessages.innerText = msg;
    }

    function showSuccess() {
        loginMessages.classList.remove("alert-danger");
        loginMessages.classList.add("alert-success");
        loginMessages.classList.remove("d-none");
        loginMessages.innerText = "Login successful";
    }

    function val() {
        let form = document.getElementById("login_form");
        if (form.checkValidity() === false) {
            this.event.preventDefault();
            this.event.stopPropagation();
            form.classList.add("was-validated");
            return;
        }
        form.classList.add("was-validated");

        let payload = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
        }

        const requestOptions = {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload),
        }

        fetch("http://localhost:4001/api/login", requestOptions)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.error === false) {
                    localStorage.setItem('userID', data.message);
                    showSuccess();
                    document.getElementById("login_form").submit();
                } else {
                    showError(data.message);
                }
            })
    }
</script>


</body>

</html>


