<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css"
          integrity="sha512-UrjLcAek5jbj1vwGbXkviPHtgSNVNQCedX7cBIMDdSI2iZtUcZcoTh2Sqc8R9mVcijOjFUi1IlxhfrE1uWaIog=="
          crossorigin="anonymous"/>

    <title>
        Modify Message
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>


            </ul>

            {{if eq .IsAuthenticated 1}}

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li id="login-link" class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            {{else}}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li id="login-link" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>

            {{end}}
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-5">Modify Message ID : {{.id}}</h2>
            <hr>

            <form method="post" action="" name="user_form" id="user_form" class="needs-validation" autocomplete="off"
                  novalidate="">
                <div class="mb-3">
                    <label for="first_name" class="form-label">User Name</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" required=""
                           value={{.name}}
                           autocomplete="first_name-new">
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <input type="text" name="message" class="form-control" id="message" required="" value={{.message}}
                    autocomplete="message-new">
                </div>


                <hr>

                <div class="float-start">
                    <a class="btn btn-primary" href="javascript:void(0);" onclick="val()" id="saveBtn">Update
                        Message</a>
                    <a class="btn btn-warning" href="/" id="cancelBtn">Cancel</a>
                    <a class="btn btn-danger" href="javascript:void(0);" id="deleteBtn">Delete</a>
                </div>

                <div class="clearfix"></div>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js"
        integrity="sha512-NHRCwRf2LnVSlLDejCA9oS3fG3/FLSQIPCjAWl3M7tVi5wszwr6FxkjotWnQDXLE+aLKcxRrzFDNEgXj9nvkPw=="
        crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    let delBtn = document.getElementById("deleteBtn");
    delBtn.addEventListener("click", function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to undo this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete Msg ID: {{.id}}'
        }).then((result) => {
            if (result.isConfirmed) {
                const requestOptions = {
                    method: 'delete',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                }

                fetch("http://localhost:4001/api/message/{{.id}}", requestOptions)
                    .then(response => response.json)
                    .then(function (data) {
                        if (data.errors) {
                            notie.alert({
                                type: 'error',
                                text: data.message,
                            })
                        } else {
                            location.href = "/"
                        }
                    })
            }
        })
    })


    function val() {
        let form = document.getElementById("user_form");
        if (form.checkValidity() === false) {
            this.event.preventDefault();
            this.event.stopPropagation();
            form.classList.add("was-validated");
            return
        }
        form.classList.add("was-validated");


        let payload = {
            username: document.getElementById("first_name").value,
            message: document.getElementById("message").value,
        }

        const requestOptions = {
            method: 'put',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload)
        }

        fetch("http://localhost:4001/api/message/{{.id}}", requestOptions)
            .then(response => response.json())
            .then(function (data) {
                console.log(data)
                if (data.error) {
                    notie.alert({
                        type: 'error',
                        text: data.message,
                    })
                } else {
                    location.href = "/";
                }
            })
    }
</script>

</body>

</html>

